<!--<div class="container">
    <div class="row text-center">
        <h1>CONTACT US</h1>
    </div>
    <div class="row itemContainer">
            <app-contact-items title="Call Us On" details="+92 3417889364" iconCode="&#xe183;"></app-contact-items>
            <app-contact-items title="Email Us On" details="thqhospitalkehror@gmail.com" iconCode="&#xe171;"></app-contact-items>
            <app-contact-items title="Find Us here" details="Kehror Pacca, Pakistan" iconCode="&#xe062;"></app-contact-items>
            
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
</div>-->
<div class="container">
    <div class="row text-center">
        <h1>CONTACT US</h1>
    </div>
    <div class="row timingPanel">
      
      <div class="timingCard" style="background-color: rgb(0, 255, 0)">
          <div class="title" >
              <span class="glyphicon">&#xe183;</span>  <br/> 
              <span>CALL US ON</span> 
          </div>
          <div class="content">
            <span>
              0608 340419
            </span>
          </div>
      </div>
      <div class="timingCard" style="background-color: rgb(0, 200, 0)">
          
          <div class="title">
              <span class="glyphicon">&#xe171;</span>  <br/> 
              <span>EMAIL US AT</span> 
          </div>
          <div class="content">
              thqhospitalkehrorpacca1@gmail.com
          </div>
      </div>
      <div class="timingCard" style="background-color: rgb(0, 150, 0)">
          <div class="title">
              <span class="glyphicon">&#xe062;</span>  <br/> 
              <span>FIND US HERE</span> 
          </div>
          <div class="content">
                THQ Hospital Kahror Pacca, Punjab Pakistan.
          </div>
      </div>
      
    </div>
  </div>
