<div class="container-fluid">
    <div class="row text-center mar-lg-btm">
        <h1>WE'D LOVE TO HEAR FROM YOU</h1>
    </div>
    <div class="row content mar-lg-btm">
        <p>Have a question ? Have a great idea for us ? Drop us a line and we'll get back to you as soon as we can. Finding a job? Visit our <a routerLink="/careers">careers</a> page to work with us. </p>
    </div>
    <!--<div class="row timingPanel">
      
      <div class="timingCard" style="background-color: rgb(0, 255, 0)">
          <div class="title" >
              <span class="glyphicon">&#xe183;</span>  <br/> 
              <span>CALL US ON</span> 
          </div>
          <div class="content">
            <span>
              0608 340419
            </span>
          </div>
      </div>
      <div class="timingCard" style="background-color: rgb(0, 200, 0)">
          
          <div class="title">
              <span class="glyphicon">&#xe171;</span>  <br/> 
              <span>EMAIL US AT</span> 
          </div>
          <div class="content">
              thqhospitalkehrorpacca1@gmail.com
          </div>
      </div>
      <div class="timingCard" style="background-color: rgb(0, 150, 0)">
          <div class="title">
              <span class="glyphicon">&#xe062;</span>  <br/> 
              <span>FIND US HERE</span> 
          </div>
          <div class="content">
                THQ Hospital Kahror Pacca, Punjab Pakistan.
          </div>
      </div>
      
    </div>-->
    <div class="row">
        <div class="col col-xs-4 location">
            <app-gmap></app-gmap>
        </div>
        <div class="col col-xs-8 contant-form">
            <app-contact-form></app-contact-form>
        </div>
    </div>

</div>