<div class="container">
    <div class="row text-center">
        <h1>CONTACT US</h1>
    </div>
    <div class="row itemContainer">
            <app-contact-items title="Call Us On" details="+92 3417889364" iconCode="&#xe183;"></app-contact-items>
            <app-contact-items title="Email Us On" details="thqhospitalkehror@gmail.com" iconCode="&#xe171;"></app-contact-items>
            <app-contact-items title="Find Us here" details="Kehror Pacca, Pakistan" iconCode="&#xe062;"></app-contact-items>
            
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
