.mainBody{
    background-color: green;
    width: 100%;
    height: auto;
}

.header{
    background-color: white;
    border-bottom: 2px solid green;
}

.sticky {
    display: block;
    z-index: 999999999999999;
    background:#fff;
    position: fixed;
    top: 0;
    left: 15px;
    right: 0;
    width: 100%;
    border-bottom: 2px solid green;
  }
 

.rt {
    float: right;
}
.lt {
    float: left;
}
.no-pad{
    padding: 0;
}

@media screen and (max-width:768px){
    .lt,
    .rt {
        float: none;
        display: block;
        margin: 0 auto;
        overflow: hidden;
    }
    
}
