<div class="container-fluid">
    <form [formGroup]="form" [hidden]="isHidden" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" id="name" class="form-control">
            <control-messages [control]="form.controls.name"></control-messages>
        </div>
        <div class="form-group">
            <label for="mobileNumber">Mobile Number</label>
            <input type="text" formControlName="mobileNumber" id="mobileNumber" class="form-control">
            <control-messages [control]="form.controls.mobileNumber"></control-messages>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" id="email" class="form-control">
            <control-messages [control]="form.controls.email"></control-messages>
        </div>
        <div class="form-group">
            <label for="message">Your Message</label>
            <textarea type="text" formControlName="message" id="message" class="form-control"></textarea>
            <control-messages [control]="form.controls.message"></control-messages>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="form.invalid" class="btn btn-success">Submit</button>
        </div>
    </form>
    <div class="successMessage" [hidden]="!isHidden" >

        <h3>Dear {{userName}}! Thank you for contacting us.</h3>
        <h5>We have received your enquiry and will respond to you within 24 hours.  For urgent enquiries please call us on one of the telephone numbers below.</h5>
    </div>
</div>