<div class="container">
    <div class="row text-center">
        <marquee>
            <h1>Welcome to THQ Hospital Kehror Pacca</h1>
        </marquee>
    </div>

    <div class="row">

        <div class="col-md-8">        
            <app-message name="Dr. Mian Iftikhar Ahmad" messageFrom="MEDICAL SUPERINTENDENT" picturePath="./assets/images/ms.jpg" message="He who has health, has hope; and he who has hope has everything. THQ Hospital Kehror Pacca is a secondary Health care facility serving since 1992 to provide competent, innovative and accessible emergency and medical care services. Our team of health care providers is striving together to provide comprehensive health services of the highest quality in an atmosphere of human care, dignity and respect. In its 26 years of services, it has recently been expanded from 40 beds to 80-bedded facility to deliver a basic package of quality essential health care services and to make health care more convenient and accessible to all. We provide a wide rage of screening and treatment facilities to patients to live their healthiest life." ></app-message>
        </div>
        <div class="col-md-4">
            <app-news></app-news>
        </div>
    </div>
</div>
