<nav class="navbar navbar-inverse" id="inner-nav">
    <div class="container-fluid nav-container">
      <div class="navbar-header text-center">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>   
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a class="navBtn active" routerLink="/home">HOME</a></li>
            <li><a class="navBtn" routerLink="/abouthospital">ABOUT HOSPITAL</a></li>
            <li><a class="navBtn" routerLink="/services">SERVICES</a></li>
            <li><a class="navBtn" routerLink="/ourstaff">OUR STAFF</a></li>
            <li><a class="navBtn" routerLink="/downloads">DOWNLOADS</a></li>
            <li><a class="navBtn" routerLink="/revamping">REVAMPING</a></li>
            <li><a class="navBtn" routerLink="/messages">MESSAGES</a></li>
            <li><a class="navBtn" routerLink="/careers">CAREERS</a></li>
            <li><a class="navBtn" routerLink="/contact">CONTACT</a></li>
        </ul>
        
      </div>
    </div>
  </nav>