<div class="container" id="main">
    <div class="row text-center">
        <h1>Who We Are ?</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                Tehsil Quarter Hospital Kehror Pacca was Established in 1992 as 40 bedded hospital
                with Indoor and Emergency wards. Since its establishment, THQ Hospital Kehror Pacca
                is continuing its tradition of uncompromising quality, dedicated service and overall
                excellence to become the dominant full-service independent health facility center in
                Tehsil Kehror Pacca, Lodhran. THQ Hospital's departments and all staff (clinical and non-clinical) 
                is dedicated to provide diagnostic excellence. Our facility utilizes latest state of art 
                instrumentation and medical technology. Our staff consists of Highly qualified Consultants,
                Surgeons, Medical Officers and Technologists striving to meet the highest
                standard of care that our clinical practices.
            </p>
        </div>
        <div class="col-md-6">
            <iframe width="550" height="345" src="https://www.youtube.com/embed/fzfBT_9KmUo"></iframe>
        </div>
    </div>
    <div class="row">       
        <p class="text-center">
            A few strong key features of the Hospital include:
        </p>
        <div class="col-md-6">
            <ul>
                <li>Total Occupied Area: 74 Kanal</li>
                <li>Total Number of Beds: 40 Beds</li>
                <li>Total Ambulances: 02 Ambulances</li>
                <li>CCTV Security Cameras installed: 20</li>
            </ul>
        </div>
        <div class="col-md-6">
                <ul>
                    <li>Clinical Staff: 87</li>
                    <li>Non-Clinical Staff: 26</li>
                    <li>Public Address System: Available</li>
                </ul>
        </div>
    </div>
    <div class="row">
        <p>
                With in the available resources the Hospital and all staff is committed to a
                formal yet dynamic quality assurance program, Quality Assurance team regularly
                monitors key quality indicators. Significant variations from established performance
                thresholds and SDS (Service Delievery Standards) are examined and corrective measures
                implemented, regularly.
        </p>
    </div>
</div>