p {
    line-height: 1.6; 
    font-family: Helvetica;
    text-align: justify;
    margin: 0;
    font-size: 20px;
}
ul {
    font-size: 25px;
    list-style-type: circle;
    color:green; 
    overflow: hidden;
}
