<div class="container">
    <div class="row text-center">
        <h1>Minimum Service Delivery Standard</h1>
    </div>    
    <div class="row">
        <div class="col-md-6">
            <p >
                The MSDS define a set of the benchmarks for minimum level of mandatory
                services that a Healthcare Establishment (HCE) is responsible to achieve
                 and patients have a right to expect. It entails a package of yardsticks
                 essential for all types and Categories of the Healthcare Establishments
                  i.e. Category I, Category II and Category III and encompasses all the 
                  disciplines of healthcare and focuses on ensuring Quality Healthcare Services.
                
            </p>
        </div>
        <div class="col-md-6">
            <iframe width="550" height="345" src="https://www.youtube.com/embed/qvG29fn6REQ"></iframe>
        </div>
        
    </div>
    <div class="row">       
            <p class="text-center">
                    The standards prescribed in the MSDS cover the following functional areas for
                    assuring quality healthcare services delivery:
            </p>
            <div class="col-md-6">
                <ul>
                    <li>Access, Assessment and Continuity of Care (AAC)</li>
                    <li>Care of Patients (COP)</li>
                    <li>Management of Medication (MOM)</li>
                    <li>Patient Rights and Education (PRE)</li>
                    <li>Hospital Infection Control (HIC)</li>
                </ul>
            </div>
            <div class="col-md-6">
                    <ul>
                        <li>Responsibilities of Management (ROM)</li>    
                        <li>Information Management System (IMS)</li>
                        <li>Human Resource Management (HRM)</li>
                        <li>Facility Management and Safety (FMS)</li>
                        <li>Continuous Quality Improvement (CQI)</li>
                    </ul>
            </div>
        </div>
        <div class="row">
            <p>
                With the Help of Almighty ALLAH THQ Hospital Kehror Pacca stands in top six hospitals implementing MSDS in south zone.
            </p>
        </div>
</div>