<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
          <!-- front content -->
          <img src={{imagePath}}>
      </div>
      <div class="back text-center">
        <!-- back content -->
          <div class="heading row">
              <h2>
                <span>{{heading}}</span>
              </h2>
          </div>

          <div class="content row">
              <h4>
                  <p>{{text}}</p>
              </h4>  
          </div>
  
      </div>
    </div>
  </div>