<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
          <!-- front content -->
          <img src={{imagePath}}>
      </div>
      <div class="back text-center">
        <!-- back content -->
          <img src="./assets/images/gov.png">
          
          <div class="row">
              <h2>
                <span>{{heading}}</span>
              </h2>
          </div>

          <div class="row">
              <h4>
                  <span>{{text}}</span>
              </h4>  
          </div>
  
      </div>
    </div>
  </div>