.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
  
  .column { 
    -webkit-flex-direction: column; 
    flex-direction: column; 
    float: center;
  }
  .column li {
    background:  white;
  }
  
  .flex-item {
    margin: 5px;
    line-height: 100px;
    font-weight: bold;
    font-size: 2em;    
  }