<div class="wrapper">
    <footer>
      <div class="container">
      
          <div class="col-md-3 col-sm-6 col-xs-12">
              <span class="logo">
                <img src="./assets/images/logo.PNG">
              </span>
          </div>
              
          <div class="col-md-3 col-sm-6 col-xs-12">
              <ul class="menu">
                  <span>Menu</span>    
                      <li>
                          <a routerLink="/home">Home</a>
                      </li>
                              
                      <li>
                          <a routerLink="/careers">Careers</a>
                      </li>
                              
                      <li>
                          <a routerLink="/services">Services</a>
                      </li>
                              
                      <li>
                          <a routerLink="/ourstaff">Staff</a>
                      </li>
                    </ul>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
              <ul class="menu">
                  <span>Contact</span>       
                      <li>
                          <a href="#"><p class="glyphicon">&#xe182; 0608- 340419</p> </a>
                      </li>
                      <li>
                          <a href="#"><p class="glyphicon">&#x2709; thqhospitalkehrorpacca1@gmail.com</p></a>
                      </li> 
                      <li>
                          <a href="#"><p class="glyphicon">&#xe135; www.thqhospitalkehrorpacca.com</p></a>
                      </li> 
                  </ul>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
              <ul class="adress">
                  <span>Adress</span>    
                      <li>
                          <p>THQ Hospital Kehror Pacca, Lodhran, Punjab Pakistan</p>
                      </li>
                    </ul>
              </div>
              
      </div>
      <div class="container">
          <ul class="social">
              <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
          </ul>
      </div>

    </footer>
    <app-copyright></app-copyright>
</div>

<!--<div class="container footerBody">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
          <h3><p class="headerText">Quick Links</p></h3>
          <ul class="nav-links">
            <li><a routerLink="/home">ABOUT HOSPITAL</a></li>
            <li><a routerLink="/services">SERVICES</a></li>
            <li><a routerLink="/ourstaff">OUR STAFF</a></li>
            <li><a routerLink="/downloads">DOWNLOADS</a></li>
            <li><a routerLink="/revamping">REVAMPING</a></li>
            <li><a routerLink="/messages">MESSAGES</a></li>
            <li><a routerLink="/contact">CONTACT</a></li>
          </ul>
        </div>

        <div class="col-sm-4 col-xs-12">
            <h3><p class="headerText">Location</p></h3>
            <app-gmap></app-gmap>
        </div>

        <div class="col-sm-4 col-xs-12">
          <h3><p class="headerText">Contact Info</p></h3>
          <ul>
            <p><span class="glyphicon">&#xe182;</span> : 0608- 340419</p>
            <p><span class="glyphicon">&#x2709;</span> : thqhospitalkehrorpacca1@gmail.com</p>
            <p><span class="glyphicon">&#xe062;</span> : THQ Hospital Kehror Pacca</p>
            <p><span class="glyphicon">&#xe023;</span> : Emergency/COD - 24/7</p>
            <p><span class="glyphicon">&#xe023;</span> : Outdoor - Mon to Sat - [08:00AM to 02:00PM]</p>
            <p><span class="glyphicon">&#xe023;</span> :  Outdoor - Fri - [08:00AM to 12:00PM]</p>
            <p><span class="glyphicon">&#xe135;</span> : www.thqhospitalkehrorpacca.com</p>
          </ul>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <app-copyright></app-copyright>
    </div>
    
</div>-->