<div class="container footerBody">

    <div class="row">
      <br/>
      <br/>
        <div class="col-md-4">
          <h3><p class="headerText">Quick Links</p></h3>
          <ul>
            <li><a routerLink="/home">ABOUT HOSPITAL</a></li>
            <li><a routerLink="/services">SERVICES</a></li>
            <li><a routerLink="/ourstaff">OUR STAFF</a></li>
            <li><a routerLink="/downloads">DOWNLOADS</a></li>
            <li><a routerLink="/revamping">REVAMPING</a></li>
            <li><a routerLink="/messages">MESSAGES</a></li>
            <li><a routerLink="/contact">CONTACT</a></li>
          </ul>
        </div>

        <div class="col-md-4">
            <h3><p class="headerText">Location</p></h3>
            <app-gmap></app-gmap>
        </div>

        <div class="col-md-4">
          <h3><p class="headerText">Contact Info</p></h3>
          <ul>
            <p><span class="glyphicon">&#xe182;</span> : 0608- 340419</p>
            <p><span class="glyphicon">&#x2709;</span> : thqhospitalkehrorpacca1@gmail.com</p>
            <p><span class="glyphicon">&#xe062;</span> : THQ Hospital Kehror Pacca</p>
            <p><span class="glyphicon">&#xe023;</span> : Emergency/COD - 24/7</p>
            <p><span class="glyphicon">&#xe023;</span> : Outdoor - Mon to Sat - [08:00AM to 02:00PM]</p>
            <p><span class="glyphicon">&#xe023;</span> :  Outdoor - Fri - [08:00AM to 12:00PM]</p>
            <p><span class="glyphicon">&#xe135;</span> : www.thqhospitalkehrorpacca.com</p>
          </ul>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <app-copyright></app-copyright>
    </div>
    
</div>