.container{
    width: 100%;
    border-bottom: green 2px solid;
}
.newsHead{
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}
.newsPanel{
    display: inline-block;
    padding-top: 0;
    height: auto;
    
}
span{
    color: green; 
    margin: 5px;
}