<div class="container newsBorder">

  <div class="row  newsHead">
        <i class="glyphicon glyphicon-list-alt"></i> LATEST NEWS
  </div>

  <div class="row newsPanel">
      <marquee behavior="scroll" scrolldelay="190" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
            <p>THQ Hospital Kahror Pacca being upgraded from 40 beds to 80 bedded Hospital.</p> 
            <br/>
            <p>THQ Hospital Kahror Pacca stands in Top four Hospitals implementing MSDS</p>
            <br/>
            <p>THQ Hospital Kahror Pacca Issues Medical Fitness Certificates to all food Stalls</p>
      </marquee>
  </div>
    
</div>
