<div class="container newsBorder">

  <div class="row  newsHead">
        <i class="glyphicon glyphicon-list-alt"></i> LATEST NEWS
  </div>

  <div class="row newsPanel">
      <marquee behavior="scroll" scrolldelay="190" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
             <p>CM Will visit THQ Hospital KEhror Pacca On inauguration of New Building</p> 
             <br/>
             <p>Senior Medical Officer position Vacant</p>
             <br/>
            <p>THQ Hospital Stands in Top 3rd MSDS  </p>
             
        </marquee>
  </div>
    
</div>
