<div class="container">
  <div class="row timingPanel">
    
    <div class="timingCard">
        <div class="title">
            <span class="glyphicon">&#xe023;</span>  <br/> 
            <span>OPENING HOURS</span> 
        </div>
        <div class="content">
          Mon-Thu,Sat	–	08.00AM-02.00PM
          <hr>
          Friday	–	08.00AM-12.00PM
          <hr>
          EMERGENCY	–	24 Hours / 7 Days
        </div>
    </div>
    <div class="timingCard">
        
        <div class="title">
            <span class="fa">&#xf0fa;</span>  <br/> 
            <span>EMERGENCY CARE</span> 
        </div>
        <div class="content">
            THQ Hospital Kahror Pacca provides emergency services to all its COD patients
            24 hours a day, 365 days a year. Triaged counter is there to assess the problem
             and the patients that need urgent care are seen on priority basis.
        </div>
    </div>
    <div class="timingCard">
        <div class="title">
            <span class="fa">&#xf0f0;</span>  <br/> 
            <span>OUTDOOR PATIENT</span> 
        </div>
        <div class="content">
            Hospital staff and Doctors are available in the Outpatient Department
             to assist Patient/ Attendants with Registration, treatment and for
              providing general information for the hospital. We hope the following
               information will assist you during your visit at DHQ Hospital Sheikhupura.

        </div>
    </div>
    <div class="timingCard">
        <div class="title">
            <span class="fa">&#xf0f9;</span>  <br/> 
            <span>EMERGENCY CASES</span> 
        </div>
        <div class="content">
          timing
        </div>
    </div>
  </div>
</div>