<div class="container">

    <div class="row">
        <h1>Our Consultants</h1>
      
    </div>
    <div class="row">
            <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
        <div class="col-md-3">
            <app-avatar-card imagePath="./assets/images/doctor.png" name="Dr.Sharif" designation="phy" qualification="mbbs"></app-avatar-card>
        </div>
        <div class="col-md-3">
                <app-avatar-card imagePath="./assets/images/doctor.png" name="Dr.Sharif" designation="phy" qualification="mbbs"></app-avatar-card>
        </div>
        <div class="col-md-3">
                <app-avatar-card imagePath="./assets/images/doctor.png" name="Dr.Sharif" designation="phy" qualification="mbbs"></app-avatar-card>
        </div>
        <div class="col-md-3">
                <app-avatar-card imagePath="./assets/images/doctor.png" name="Dr.Sharif" designation="phy" qualification="mbbs"></app-avatar-card>
        </div>
    </div>
</div>