<div class="container">

    <div class="row text-center">
        <br/>
        <h1>Our Consultants</h1>
        <br/>
    </div>
    <div class="row consultantPanel">
            <app-profile-card name="Dr. Muhammad Sharif" designation="Consultant Physician" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
            <app-profile-card name="Dr. Kamaran Sharafat" designation="Consultant Pediatrician" qualification="M.B.B.S, DCH" picturePath="./assets/images/doctors/doctor.png" ></app-profile-card>
            <app-profile-card name="Dr. Firdous Jahan" designation="Consultant Gynecologist" qualification="M.B.B.S, MCPS" picturePath="./assets/images/doctors/ladydoctor.png" ></app-profile-card>
            <app-profile-card name="Dr. Maqbool Hussain" designation="Consultant Surgeon" qualification="" picturePath="./assets/images/doctors/doctor.png" ></app-profile-card>
            
           
    </div>
</div>