<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="./assets/images/pakmap.png" class="logo">
    </div>
    <div class="col-sm-8">
      <div class="row">
          <h2>OUR  VALUES</h2>
          We are with patient in each step of his fight against disease. 
      </div>
      <div class="row">
          <h2>OUR MISSION</h2>
          Our goal is & has always been to provide the best healthcare possible to all of our patients.
      </div>

      <div class="row">
          <h2>OUR VISION</h2>
          Your health is your most priceless possession and our vision is to provide you quality health care services to take care of your posession.
      </div>

    </div>
  </div>
</div>