.mainCopyRight{
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:1%;
    padding-right: 100px;
    left:0;
    right: 0px;
    
}
@media screen and (max-width:768px){
    .mainCopyRight > div > div > p{
        text-align: center !important;
    }
}