<div class="container">
    <div class="row text-center">
        <h1>REVAMPING</h1>
    </div>
    <div class="row">
        <p>The Primary and Secondary Healthcare Department, Government of Punjab started 
          Revamping of hospitals to improve the performance of hospitals. The Revamping
          process was divided into three phases. THQ Hospital Kehror Pacca stands in Phase-II
          of revamping process. Under the revamping process following new intiatives were taken
          at THQ Hospital Kehror Pacca 
        </p>
         <br/>
         <br/> 
        <div class="row">
            <div class="panel-group " id="accordion">
              <!--========================================================================================-->
              <div class="panel panel-default">
                <div data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-heading ">
                  <h4  class="panel-title">
                    <span>1. New Management Structure</span>
                    
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body flex-container">
                    <p>In order to successfully complete the program objectives in the given
                       timeframe established a dedicated Program Management Unit having
                        technical and administrative expertise
                    </p>
                    <img class="organogram" src="./assets/images/organogram.png">
                    <p>According to the above orgnogram following staff is newly recruited
                      at THQ Hospital Kehror Pacca under supervision of Medical
                       Suprintendent and Higher authorities.
                    </p>

                      <app-profile-card name="Mr. Shehzad Shams CH." designation="Admin Officer" qualification="MS(Computer Science), LLB" picturePath="./assets/images/admin.PNG"></app-profile-card>  
                      <app-profile-card name="Mr. Ejaz Hussain" designation="Accounts & Finance Officer" picturePath="./assets/images/ejaz1.PNG"></app-profile-card>
                      <app-profile-card name="Mr. Muhammad Ibrahim" designation="IT/STATISTICAL Officer" qualification="BS(Computer Science)" picturePath="./assets/images/ibrahim.jpg"></app-profile-card>
                      <app-profile-card name="" designation="Procurement Officer" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                      <app-profile-card name="" designation="HR/Legal Officer" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                      <app-profile-card name="" designation="Audit Officer" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                      <app-profile-card name="" designation="Logistic Officer" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>               
                      <app-profile-card name="" designation="Assistant Admin Officer" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  </div>
                </div>
              </div>
               <!--========================================================================================-->
        <div class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-heading ">
              <h4  class="panel-title">
                <span>2. Outsourcing of Non-Clinical & Ancillary clinical services</span>
                
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body flex-container">
                  <p>The Department has outsourced Non-clinical and ancillary clinical
                     services to leading service providers. The outsourcing contracts are done
                     on the central level  
                  </p>
                     <app-flipping-card heading="Janitorial Services" text="This contract is done by Anas Brothers Limited.Anas Brothers provides janitors 24/7 at Hospital. Any irregularity observed by the contractor cause them fine according to the contract. " imagePath="./assets/images/janitorial.jpg"></app-flipping-card>
                     <app-flipping-card heading="MEP" text="MEP stands for Mechenical, Electrical and Plumbing Services. At THQ Hospital Kehror Pacca MEP services are provided by Sarmik(Pvt) Ltd." imagePath="./assets/images/mep.jpg"></app-flipping-card>
                     <app-flipping-card heading="Generators" text="The purpose of outsourcing the generator services is to provide a fluent source of electricity to the hospital. These services are provided by Iman Group on the contract basis" imagePath="./assets/images/iman.png"></app-flipping-card>
                     <app-flipping-card heading="Security & Parking" text="To work in a smooth and secure place security and parking are also necessary part of hospitals. The Contract for Security and Parking at THQ Hospital is under process." imagePath="./assets/images/sec&park.jpg"></app-flipping-card>
              </div>
            </div>
          </div>
  
           <!--========================================================================================-->
           <!--========================================================================================-->
        <div class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-heading ">
              <h4  class="panel-title">
                <span>3. IT Intervention</span>
                
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body flex-container">
                  <app-flipping-card heading="Prescription Management System" text="Information of patient, medicines, doctors and doctor's opinion for patient on prescription slip feed on PMIS Portal." imagePath="./assets/images/pmis.jpg"></app-flipping-card>
                  <app-flipping-card heading="Medicine Inventory System" text="This System helps us to ensure effective management of consumption of medicines in hospital." imagePath="./assets/images/ph.jpg"></app-flipping-card>
                  <app-flipping-card heading="Public Address System" text="PA Systems are used to speak to a large public and announcements of movement’s at large and noisy area." imagePath="./assets/images/pas.jpeg"></app-flipping-card>
                  <app-flipping-card heading="Biometric Attendance System" text="This Biometric system enables us to maintain employee attendance record and manageme duty roaster of the staff." imagePath="./assets/images/bms.jpg"></app-flipping-card>
                  <app-flipping-card heading="CCTV Security System" text="In security management system we have 14 CCTV cameras in THQ Daska that cover main areas of hospital for security concerns." imagePath="./assets/images/cctv.jpg"></app-flipping-card>
                  <app-flipping-card heading="Disease Survelliance System" text="The record of OPD, IPD and Emergency updated daily. Which helps us to analyze the trend of a disease in specific area." imagePath="./assets/images/dss.jpeg"></app-flipping-card>
              </div>
            </div>
          </div>
  
           <!--========================================================================================-->
            </div>
        </div>
    </div>
</div>