::-webkit-scrollbar {
    display: none;
  }
h1{
    color: green;
}
.itemPanel{   
    /*
    display: flex;
    flex-wrap: nowrap;
    */
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    transition-duration: 5s;
    
}
.itmPanel:hover{
    margin-left: -1880px;
    transition-duration: 5s;
}
.leftArrow{
    position: absolute;
    font-size: 60px;
    left:20px;
    bottom:80px;
}
.container{
  width: 99.99%;
  background-color: bisque;
}