<div class="container">

    <div class="row">

      <h1>Vertical Programs</h1>      
    </div>

    <div class="row">
        <div class="col-md-4">
            <app-flipping-card heading="HIV" text="we are trying to remove the HIV from all over punjab and pakistan" imagePath="./assets/images/ibrahim.jpg"></app-flipping-card>
        </div>
      
        <div class="col-md-4">
            <app-flipping-card heading="HIV" text="we are trying to remove the HIV from all over punjab and pakistan" imagePath="./assets/images/ibrahim.jpg"></app-flipping-card>
        </div>
        <div class="col-md-4">
            <app-flipping-card heading="HIV" text="we are trying to remove the HIV from all over punjab and pakistan" imagePath="./assets/images/ibrahim.jpg"></app-flipping-card>
        </div>
    </div>
    
</div>