<div class="container">

    <div class="row text-center">
        <br/>
        <h1>Hospital Departments</h1>
        <br/>      
    </div>

    <div class="itemPanel">
            <app-home-circle-card heading="Out Paitent Department" picturePath="./assets/images/opd1.jpg" text="Out Patient Department of a hospital provide services 8am to 2am.. It is the section of the hospital where patients are provided medical consultations and other allied services." ></app-home-circle-card>
            <app-home-circle-card heading="Surgery" picturePath="./assets/images/sur.jpg" text="We follow standardized practices of emergency care and expedite the process to sort out all patients within 4 hours. It helps improve the patients flow and enhances patient satisfaction." ></app-home-circle-card>
            <app-home-circle-card heading="Dental Clinic" picturePath="./assets/images/dent.jpg" text="The department of Dentsitry provides a full range of dental services to children and adolescents who have complicated dental problems and/or medical problems requiring hospital-based dental treatments." ></app-home-circle-card>
            <app-home-circle-card heading="Hepatits Control Program" picturePath="./assets/images/hiv.jpg" text="Hospital provides comprehensive and specialized treatment for individuals with viral hepatitis, including hepatitis B and hepatitis C, and for those co-infected with hepatitis and HIV." ></app-home-circle-card>
            <app-home-circle-card heading="One Window TB Clinic" picturePath="./assets/images/tb.jpg" text="At Hospital One Window TB Clinic is a comfortable, friendly and confidential place to receive TB testing and treatment. If diagnosed with TB, your treatment will be offered for free." ></app-home-circle-card>
            <app-home-circle-card heading="Obstetrics & Gynaecology" picturePath="./assets/images/gyn.jpg" text="We provide execllent Gynae/obs facilities in a very safe and hygenic environment. The Hospital has fully equipped Labor Room capable of conducting all normal and instrumental deliveries including Epidural." ></app-home-circle-card>
            <app-home-circle-card heading="Pharmacy" picturePath="./assets/images/ph.jpg" text="Hospital Pharmacy fulfills patients medication needs completely free. The pharmacy within Hospital is open 6 days a week. The pharmacy keeps in stock close to 118 brand name including GSK and NOVARTIS." ></app-home-circle-card>
            <app-home-circle-card heading="Radiology" picturePath="./assets/images/rad.jpg" text="The Department of Radiology offers 24/7 services that cater to the needs of inpatients, outpatients and refferals" ></app-home-circle-card>
            <app-home-circle-card heading="Indoor Department" picturePath="./assets/images/ind.jpg" text="The patients are admitted in the hospital, if required, after getting emergency treatment. Proper checkup is made on regular basis and extreme care is taken in order to make them healthy." ></app-home-circle-card>
            <app-home-circle-card heading="Laboratory" picturePath="./assets/images/lab1.jpg" text="Our labs and workers are 24/7 open for different types of test with high quality results at government defined rates." ></app-home-circle-card>
            <app-home-circle-card heading="ECG" picturePath="./assets/images/ecg.jpg" text="The Department of Emergency offers 24/7 services that cater to the needs of ECG for heart patient" ></app-home-circle-card>
    </div> 
</div>