<div class="container">

    <div class="row text-center">
            <h1>OUR STAFF</h1>
    </div>
    <div class="row ms">
      <div class="col-md-8">
          <h3 class="name">Dr. Muhammad Fazil</h3>
          <h4 class="designation">Medical Superintendent</h4>
          <h5>M.B.B.S</h5>
      </div>
      <div class="col-md-4">
        <img src="./assets/images/doctors/ms1.PNG">  
      </div>
  
    </div>
    <br/>
    <br/>
    <!--========================================================================================-->
    <div class="row">
      <div class="panel-group " id="accordion">
        <!--========================================================================================-->
        <div class="panel panel-default">
          <div data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-heading ">
            <h4  class="panel-title">
              <span>ADMINISTRATION</span>
              
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body flex-container">
                <app-profile-card name="Mr. Shehzad Shams CH." designation="Admin Officer" qualification="MS(Computer Science), LLB" picturePath="./assets/images/admin.PNG"></app-profile-card>  
                <app-profile-card name="Mr. Ejaz Hussain" designation="Accounts & Finance Officer" picturePath="./assets/images/ejaz1.PNG"></app-profile-card>
                <app-profile-card name="Mr. Muhammad Ibrahim" designation="IT/STATISTICAL Officer" qualification="BS(Computer Science)" picturePath="./assets/images/ibrahim.jpg"></app-profile-card>               
            </div>
          </div>
        </div>

         <!--========================================================================================-->
         <!--========================================================================================-->
        <div class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-heading ">
              <h4  class="panel-title">
                <span>SURGEONS & CONSULTANTS</span>
                
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
              <div class="panel-body flex-container">
                  <app-profile-card name="Dr. Muhammad Sharif" designation="Consultant Physician" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Kamaran Sharafat" designation="Consultant Pediatrician" qualification="M.B.B.S, DCH" picturePath="./assets/images/doctors/doctor.png" ></app-profile-card>
                  <app-profile-card name="Dr. Firdous Jahan" designation="Consultant Gynecologist" qualification="M.B.B.S, MCPS" picturePath="./assets/images/doctors/ladydoctor.png" ></app-profile-card>
                  <app-profile-card name="Dr. Maqbool Hussain" designation="Consultant Surgeon" qualification="" picturePath="./assets/images/doctors/doctor.png" ></app-profile-card>
                  <app-profile-card name="Dr. Iffat Batool" designation="Dental Surgeon" qualification="B.D.S" picturePath="./assets/images/doctors/ladydoctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Qamarain Fatima" designation="Dental Surgeon" qualification="B.D.S" picturePath="./assets/images/doctors/ladydoctor.png"></app-profile-card>
              </div>
            </div>
          </div>
  
           <!--========================================================================================-->
           <!--========================================================================================-->
        <div class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-heading ">
              <h4  class="panel-title">
                <span>MEDICAL OFFICERS/ WOMEN MEDICAL OFFICERS</span>
                
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
              <div class="panel-body flex-container">
                  <app-profile-card name="Dr. Iftikhar Ahmad" designation="Senior Medical Officer" qualification="M.B.B.S, MBA" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Qamar Hafeez" designation="Deputy MS/Senior Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. ahmad Khadim" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Rasheed Anjum" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Abu Bakar" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Manssor-ul-Haq" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Muhammad Rafique" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Zeeshan" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Muhammad Imran" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>  
                  <app-profile-card name="Dr. Aftab Shamshad" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Amir Mehmood" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Yahya Hussain" designation="Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/doctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Noureen Sarfraz" designation="Women Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/ladydoctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Mumtaz Kamal" designation="Women Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/ladydoctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Hina Siddique" designation="Women Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/ladydoctor.png"></app-profile-card>
                  <app-profile-card name="Dr. Bushra Hayat" designation="Women Medical Officer" qualification="M.B.B.S" picturePath="./assets/images/doctors/ladydoctor.png"></app-profile-card>
                  
                  
              </div>
            </div>
          </div>
  
           <!--========================================================================================-->
          <!--========================================================================================-->
        <div class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-heading ">
              <h4  class="panel-title">
                <span>NURSING STAFF</span>
                
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse in">
              <div class="panel-body flex-container">
                  <app-profile-card name="Mrs. Rehana Gulab" designation="Head Nurse"  picturePath="./assets/images/doctors/nurse.png"></app-profile-card>
                  <app-profile-card name="Mrs. Farzana Iqbal" designation="Charge Nurse"  picturePath="./assets/images/doctors/nurse.png"></app-profile-card>
                  <app-profile-card name="Mrs. Humaira Yasmin" designation="Charge Nurse" picturePath="./assets/images/doctors/nurse.png"></app-profile-card>
                  <app-profile-card name="Mrs. Kaneez Rasool" designation="Charge Nurse"  picturePath="./assets/images/doctors/nurse.png"></app-profile-card>
                  <app-profile-card name="Mrs. Kousar Perveen" designation="Charge Nurse"  picturePath="./assets/images/doctors/nurse.png"></app-profile-card>
                  <app-profile-card name="Mrs. Nasim Saddique" designation="Charge Nurse"  picturePath="./assets/images/doctors/nurse.png"></app-profile-card>
                  <app-profile-card name="Mrs. Tajamul Khanam" designation="Charge Nurse"  picturePath="./assets/images/doctors/nurse.png"></app-profile-card>
                  <app-profile-card name="Mrs. Moubina Ghouri" designation="Charge Nurse"  picturePath="./assets/images/doctors/nurse.png"></app-profile-card>
                  <app-profile-card name="Mrs. Shahida ghouri" designation="Charge Nurse"  picturePath="./assets/images/doctors/nurse.png"></app-profile-card>

              </div>
            </div>
          </div>
  
           <!--========================================================================================-->
          <!--========================================================================================-->
        <div class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="panel-heading ">
              <h4  class="panel-title">
                <span>PARAMEDICAL STAFF</span>
                
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse in">
              <div class="panel-body flex-container">
                  <app-profile-card name="Mr. Abdul Aziz" designation="Lab Assistant" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Mazhar Hussain" designation="Radiographer" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Rashid Ali" designation="Radiographer" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Muhammad Allah Bakhsh" designation="Dispenser" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Ajmal Bhatti" designation="Dispenser" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Khalid Mehmood" designation="Dispenser" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>  
                  <app-profile-card name="Mr. Shikh Umar Daraz" designation="Dispenser" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Muhammad Ismail" designation="Homeo Dispenser" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Shehzad Saeed" designation="Dispenser" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>  
                  
              </div>
            </div>
          </div>
  
           <!--========================================================================================-->
          <!--========================================================================================-->
        <div class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="panel-heading ">
              <h4  class="panel-title">
                <span>IT CELL</span>
                
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse in">
              <div class="panel-body flex-container">
                  <app-profile-card name="Mr. Muhammad Ibrahim" designation="IT/STATISTICAL Officer" qualification="BS(Computer Science)" picturePath="./assets/images/ibrahim.jpg"></app-profile-card>  
                  <app-profile-card name="Mr. Tanveer" designation="Data Entry Operator" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Hassan Shiekh" designation="Data Entry Operator" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Dil Faraz" designation="Data Entry Operator" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Muhammad Ibrahim" designation="Data Entry Operator" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  <app-profile-card name="Mr. Muhammad Ibrahim" designation="Data Entry Operator" qualification="" picturePath="./assets/images/doctors/man.png"></app-profile-card>
                  
              </div>
            </div>
          </div>
  
           <!--========================================================================================-->
          </div>
  </div>     
  <!--========================================================================================-->
 
</div>