.container{
    width: 90%;
}
.panel-heading{
    background-color: rgb(39, 179, 39);
    cursor: pointer;
    height: 50px;
}
.panel-title{
    color:white;
    font-weight: bolder;
    padding:7px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width:300px;
    height: 300px;
    max-width: 100%;
    border-radius: 5%;
}
.name{
    color:gray;
    font-weight:  bold;
    font-size: 20px;
    transition-duration: 1s;
}
.wrapper:hover .name{
    color:white;
    transition-duration: 1s;

}
.designation{
    color: green;
    transition-duration: 1s;
}
.ms{
    border-left-style: solid;
}