.img-container{
  margin: 4px;
  width: 400px;
  height: auto;
  max-width: 100%;
  display: block;
  overflow: hidden;
}
.rt {
  float: right;
}
.minWidth {
  width: 70% !important;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
@media screen and (max-width:768px) {
  .minWidth {
    width: 40% !important;
  }
  .img-container{
      margin: 0 auto !important;
  }
  .rt {
    float: none;
    display: block;
    overflow: hidden;
    margin: 0 auto;
  }
}