<div class="wrapper">
        <div class="img-container">
            <img class="img-responsive rt" src="./assets/images/logoimage.PNG">
        </div> 
</div>

<!-- <div class="col-md-3">
                        <img src="./assets/images/gov.png"/>
                </div>
                <div class="col-md-6">
                    <h2>      
                        <p class="darkName">THQ HOSPITAL</p>
                        <p class="brightName">KEHROR PACCA</p>
                    </h2>
                </div>-->